{% extends "accounts/login_sigin.html" %}

<!---- Content Block  -->
{% block content %}

<div class="card p-5 shadow text-center">
    <form action="{% url 'login_submit' %}", method="post">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert" id="login_error" 
            style="display: {% if login_error %} block {% else %} none {% endif %}">
            {{ login_error }}
        </div>
        <div class="mb-3">
            <input type="email" name="email" class="form-control" id="email" placeholder="Email address">
        </div>
        <div class="mb-3">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="mb-3 d-grid">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="mb-3">
            <a href="">Forgotten password?</a>
        </div>
        <div>
            <hr class="my-4">
        </div>
        <button type="submit" class="btn btn-success mb-3">Create new account</button>
    </form>
</div>

{% endblock %}
