#side_bar{
    height: 1000px;
}

header{
    height: 50px;
    background-color: #1877F2;
}

footer{
    height: 250px;
    background-color: rgb(240, 240, 240);
}

#main_bloc, #map{
    height: 1000px;
}