header{
    height: 50px;
    background-color: #1877F2;
}

footer{
    height: 250px;
    background-color: rgb(240, 240, 240);
}

#main_bloc, #map, #side_bar{
    height: 750px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden
}